{% extends "base.html" %}

{% block content %}
  <section>
    <p>
      This is an open source website built with <a class="flask-anchor" href="https://flask.palletsprojects.com/">Flask</a>
      and hosted with <a class="vercel-anchor" href="https://vercel.com/">Vercel</a>.
    </p>
    <p>
      Its objective is to show the quotations of the main currencies.
    </p>
    <p>
      The data used is provided by <a class="fcapi-anchor" href="https://freecurrencyapi.com/">FreeCurrencyAPI</a>.
    </p>
    <p>
      The source code can be accessed by clicking <a class="github-anchor" href="https://github.com/RichardSouzza/CurrencyExchange">here</a>.
    </p>
  </section>
{% endblock %}