{% extends "base.html" %}

{% block content %}
  <section>
    <h2>Introduction</h2>
    <p>The Currency Exchange makes currency data available through its API.</p>
    
    <h2>Enpoints</h2>
    
    <h3>Currencies Endpoint</h3>
    <p>Returns the data of all 33 available currencies.</p>
    
    <h4 class="inline">Request Method:</h4>
    <code class="code">GET</code><br>
    
    <h4 class="inline">Request URL:</h4>
    <code class="code">https://currencyexchange.onrender.com/currencies</code>
    
    <h4 id="custom-h4">Request Parameters</h4>
    <div class="table-container">
      <table>
        <tr>
          <th>Parameter</th>
          <th>Type</th>
          <th>Mandatory</th>
          <th>Description</th>
        </tr>
        <tr>
          <td><code class="code">currencies</code></td>
          <td>string</td>
          <td></td>
          <td>
            A list of comma separated currency
            codes which you want to get (EUR,USD,CAD)
            By default all available currencies will be shown
          </td>
        </tr>
      </table>
    </div>
    
    <h4>Sample Request</h4>
    <pre>
      <code class="language-python">
from requests import get
from json import dumps

url = "https://currencyexchange.onrender.com/currencies"

params = {
    "currencies": "EUR, USD, CAD"
}

resp = get(url, params=params)

data = resp.json()

print(dumps(data, indent=4))
      </code>
    </pre>
    
    <h4>Sample Response</h4>
    <pre>
      <code class="language-json">
{
    "EUR": {
        "code": "EUR",
        "decimal_digits": 2,
        "history": {
            "2023-05-24": {
                "AUD": 1.6434,
                "BGN": 1.9536,
                "BRL": 5.3349,
                "..."
                "TRY": 21.4166,
                "USD": 1.0756,
                "ZAR": 20.696
            },
            "2023-05-25": {
                "AUD": 1.6503,
                "BGN": 1.9556,
                "BRL": 5.4014,
                "..."
                "TRY": 21.4261,
                "USD": 1.0724,
                "ZAR": 21.2226
            },
            "..."
            "2023-05-29": {
                "AUD": 1.6402,
                "BGN": 1.9557,
                "BRL": 5.3746,
                "..."
                "TRY": 21.5727,
                "USD": 1.0707,
                "ZAR": 21.0558
            },
            "2023-05-30": {
                "AUD": 1.6465,
                "BGN": 1.9556,
                "BRL": 5.4046,
                "..."
                "TRY": 22.1244,
                "USD": 1.0731,
                "ZAR": 21.1276
            }
        },
        "name": "Euro",
        "name_plural": "Euros",
        "rounding": 0,
        "symbol": "€",
        "symbol_native": "€"
    }
}
        </code>
    </pre>
  </section>
{% endblock %}