{% extends "base.html" %}

{% block content %}
  <section>
    <h2>Introduction</h2>
    <p>The Currency Exchange makes currency data available through its API.</p>
    
    <h2>Enpoints</h2>
    
    <h3>Currencies Endpoint</h3>
    <p>Returns the data of all 33 available currencies.</p>
    
    <h4 class="inline">Request Method:</h4>
    <code class="code">GET</code><br>
    
    <h4 class="inline">Request URL:</h4>
    <code class="code">https://currency-exchange-rxpg.onrender.com/currencies</code>
    
    <h4 id="custom-h4">Request Parameters</h4>
    <div class="table-coteiner">
      <table>
        <tr>
          <th>Parameter</th>
          <th>Type</th>
          <th>Mandatory</th>
          <th>Description</th>
        </tr>
        <tr>
          <td><code class="code">currencies</code></td>
          <td>string</td>
          <td></td>
          <td>
            A list of comma seperated currency
            codes which you want to get (EUR,USD,CAD)
            By default all available currencies will be shown
          </td>
        </tr>
      </table>
    </div>
    
    <h4>Sample Request</h4>
    <pre>
      <code class="language-python">
from requests import get
from json import dumps

url = "https://currency-exchange-rxpg.onrender.com/currencies"

params = {
    "currencies": "EUR, GBP, USD"
}

resp = get(url, params=params)

data = resp.json()

print(dumps(data, indent=4))
      </code>
    </pre>
    
    <h4>Sample Response</h4>
    <pre>
      <code class="language-json">
{
    "USD": {
        "symbol": "$",
        "name": "US Dollar",
        "symbol_native": "$",
        "decimal_digits": 2,
        "rounding": 0,
        "code": "USD",
        "name_plural": "US dollars",
        "history": {
            "2023-01-29": {
                "AUD": 1.4069,
                "BGN": 1.7978,
                "BRL": 5.1092,
                ...
                "TRY": 18.8126,
                "USD": 1,
                "ZAR": 17.2094
            },
            "2023-01-30": {
                "AUD": 1.4171,
                "BGN": 1.7997,
                "BRL": 5.1163,
                ...
                "TRY": 18.813,
                "USD": 1,
                "ZAR": 17.3935
            },
            "2023-01-31": {
                "AUD": 1.4182,
                "BGN": 1.8031,
                "BRL": 5.0733,
                ...
                "TRY": 18.8122,
                "USD": 1,
                "ZAR": 17.4168
            },
            "2023-02-01": {
                "AUD": 1.3996,
                "BGN": 1.795,
                "BRL": 5.055,
                ...
                "TRY": 18.8168,
                "USD": 1,
                "ZAR": 17.0325
            },
            "2023-02-02": {
                "AUD": 1.4136,
                "BGN": 1.7929,
                "BRL": 5.0507,
                ...
                "TRY": 18.8172,
                "USD": 1,
                "ZAR": 17.084
            },
            "2023-02-03": {
                "AUD": 1.4443,
                "BGN": 1.8121,
                "BRL": 5.1525,
                ...
                "TRY": 18.8199,
                "USD": 1,
                "ZAR": 17.4675
            },
            "2023-02-04": {
                "AUD": 1.4447,
                "BGN": 1.8093,
                "BRL": 5.1518,
                ...
                "TRY": 18.8236,
                "USD": 1,
                "ZAR": 17.4678
            }
        }
    }
}
        </code>
    </pre>
  </section>
{% endblock %}