<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }}</title>
  <link rel="shortcut icon" type="image/x-icon" href="static/assets/icons/currency-exchange.png">
  <link rel="stylesheet" href="static/styles/style.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/github.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  <script src="static/scripts/main.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js" integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
  <header>
    <a href="/">
    <img src="static/assets/icons/currency-exchange.png" alt="CurrencyExchange">
    <h1>CurrencyExchange</h1>
    </a>
  </header>
  
  <main>
    {% block content %}
    {% endblock %}
  </main>
  
  <footer>
    <a href="/api">API</a>
    <a href="/about">About</a>
  </footer>
</body>
</html>